@import '/src/styles/responsive.scss';

.LendingApplyWrapper {
  background-color: #fefdee;
  padding: 80px 215px 114px 176px;
  @include mobile {
    padding: 24px 0 16px 0;
  }
  > .LendingApplyContainer {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    position: relative;
    padding-bottom: 70px;

    > .LendingApplyHeader {
      color: #000;
      font-size: 60px;
      font-weight: 700;
      line-height: 80px;
      @include mobile {
        font-size: 24px;
        font-style: normal;
        line-height: 32px; /* 133.333% */
      }
    }

    > .LendingApplyDescription {
      margin: 36px 0px;
      color: #000;
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;
      @include mobile {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        margin: 16px 0 0 0;
      }
    }

    > .LendingApplyButton {
      width: 252px;
      padding: 16px 40px;
      border-radius: 64px;
      background: #688edc;

      color: #fff;
      font-size: 23px;
      font-weight: 700;
      line-height: 32px;
      @include mobile {
        display: none;
      }
    }

    > .LendingImage {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 369px;
      height: 341px;
      @include mobile {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        float: right;
        width: 181px;
        height: 160px;
      }
    }
  }
}
