@import '/src/styles/responsive.scss';

.LendingApplyWrapper {
  background-color: #fefdee;
  padding: 80px 215px 114px 176px;

  @include media(phone) {
    padding: 20px;
  }

  > .LendingApplyContainer {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    position: relative;
    padding-bottom: 70px;
    @include media(phone) {
      padding-bottom: 28px;
    }
    > .LendingApplyHeader {
      color: #000;
      font-size: 60px;
      font-weight: 700;
      line-height: 80px;

      @include media(phone) {
        font-size: 24px;
        line-height: 32px; /* 133.333% */
      }
    }

    > .LendingApplyDescription {
      margin: 36px 0px;
      color: #000;
      font-size: 24px;
      font-weight: 500;
      line-height: 36px;

      @include media(phone) {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        margin: 16px 0 0 0;
      }
    }

    > .LendingApplyButton {
      width: 252px;
      padding: 16px 40px;
      border-radius: 64px;
      background: #688edc;

      color: #fff;
      font-size: 23px;
      font-weight: 700;
      line-height: 32px;

      @include media(phone) {
        display: none;
      }
    }

    > .LendingApplyPcImage {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 369px;
      height: 341px;
      display: block;

      @include media(phone) {
        display: none;
      }
    }

    .LendingApplyMobileImageWrapper {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 100%;
    }

    .LendingApplyMobileImage {
      display: none;

      @include media(phone) {
        display: block;
        width: 181px;
        height: 160px;
      }
    }
  }
}
