@import './src/styles/responsive.scss';
.LayoutContainer {
  @include media(phone, tablet) {
    background: #fefdee;
  }

  > .LayoutMobileApplyLink {
    display: none;
    @include media(phone, tablet) {
      display: block;
      position: fixed;
      bottom: 34px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #688edc;
      border-radius: 8px;
      width: 300px;
      padding: 17px 0px;

      text-align: center;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: -0.32px;
    }
  }
}
