@import "/src/styles/responsive.scss";

.FooterWrapper {
  background-color: #fff;
  padding: 60px 176px;
  color: #535961;

  @include media(phone) {
    padding: 24px 20px;
  }

  > .FooterTitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #000;
  }

  > .FooterMarketingContent {
    margin-top: 12px;
    display: flex;
    gap: 8px;

    > button {
      padding: 6px 8px;
      border: 1px solid #dbdee2;
      border-radius: 4px;
      background-color: #fff;
    }
  }

  > .FooterCorpContent {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    > .FooterCorpInfo {
      margin-top: 12px;

      > .CEO {
        margin-right: 40px;
      }
    }
  }

  > .FooterTerms {
    color: #000;
    margin-top: 16px;
    display: flex;
    gap: 16px;

    @include media(phone) {
      font-size: 11px;
      font-weight: 500;
      line-height: 16px;
    }
  }
}
