@import "/src/styles/theme.scss";
@import "/src/styles/responsive.scss";

.NavContainer {
  width: 100%;

  background: #f6f4dc;
  @include media(phone) {
    background: #fefdee;
  }
  .NavWrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    @include media(phone) {
      display: flex;
      justify-content: space-between;
    }
    .LogoWrapper {
    }
    .MenuWrapper {
      margin-left: 50px;
      width: 100%;
      @include media(phone) {
        width: auto;
      }
    }
    .Menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .Item {
        display: flex;
        align-items: center;
        li:nth-child(2) {
          margin-left: 53px;
        }
        > li {
          padding: 0 8px;
          cursor: pointer;
          font-size: 24px;
          font-weight: 400;
          @include media(phone) {
            font-size: 17px;
            font-weight: 600;
          }
        }
      }
      .BenefitButton {
        padding: 8px 24px;
        border-radius: 8px;
        background-color: $primary;
        color: #fff;
        margin-right: 30px;
        @include media(phone) {
          display: none;
        }
      }
    }
  }
}
